<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_happy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{270,377}</string>
                <key>spriteSourceSize</key>
                <string>{288,387}</string>
                <key>textureRect</key>
                <string>{{835,1},{270,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_happy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{270,379}</string>
                <key>spriteSourceSize</key>
                <string>{288,387}</string>
                <key>textureRect</key>
                <string>{{563,1},{270,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_happy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{276,379}</string>
                <key>spriteSourceSize</key>
                <string>{288,387}</string>
                <key>textureRect</key>
                <string>{{285,1},{276,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_happy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{282,379}</string>
                <key>spriteSourceSize</key>
                <string>{288,387}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>111.png</string>
            <key>size</key>
            <string>{1106,381}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1331bb971a33baf28295682119bf958a:6b1e71f6b9231f2da6f40f64aab261e4:b1d7634429216a4fd5138097b0cb227e$</string>
            <key>textureFileName</key>
            <string>111.png</string>
        </dict>
    </dict>
</plist>
